.chat-room {
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  width: 100%;
  max-width: 800px;
  margin: 150px auto 0;
}

.tools,
.working-directory {
  flex-basis: 50%;
}

.tools{ 
  border-right: 1px solid #ccc;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tools p {
  margin: 0 0 20px;
  background-color: #3ab1e0;
  color: #fff;  
  padding: 20px;
  font-size: 1.1rem;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.tools textarea {
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  color: #667;
  font-family: sans-serif;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.tools button {
  border: none;
  padding: 5px 25px;
  font-size: 1.1rem;
  box-shadow: 0 2px 3px #111;
  background-color: #04d604;
  color: #fff;
}

.working-directory{ 
  border-left: 1px solid #ccc;
  padding-left: 20px; 
}

.working-directory ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  max-height: 320px;
  overflow: auto;
}

.working-directory ul li:nth-child(even) {
  align-self: flex-end;
  background-color: #6fc4e6;
}

.working-directory .message {
  padding: 10px 10px 35px;
  position: relative;
  background-color: #f3d21a;
  border-radius: 4px;
  box-shadow: 0 3px 4px #111;
  max-width: 150px;
  width: 60%;
  margin-bottom: 15px;
  word-break: break-word;
}

.tools p { word-break: break-word; }

.working-directory .message:last-child { margin-bottom: 0; }

.working-directory .message p{
  margin: 0;
}

.working-directory .message span{
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: .8rem;
  color: #827474;
  font-weight: bold;
}